<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ai.mapper.AiDbColumnMapper">
    
    <resultMap type="AiDbColumn" id="AiDbColumnResult">
        <result property="columnId"    column="column_id"    />
        <result property="tableId"    column="table_id"    />
        <result property="columnName"    column="column_name"    />
        <result property="columnComment"    column="column_comment"    />
        <result property="columnType"    column="column_type"    />
        <result property="columnLength"    column="column_length"    />
        <result property="nullable"    column="nullable"    />
        <result property="defaultValue"    column="default_value"    />
        <result property="isPk"    column="is_pk"    />
        <result property="fkTable"    column="fk_table"    />
        <result property="fkColumn"    column="fk_column"    />
        <result property="isUnique"    column="is_unique"    />
        <result property="indexType"    column="index_type"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAiDbColumnVo">
        select column_id, table_id, column_name, column_comment, column_type, column_length, nullable, default_value, is_pk, fk_table, fk_column, is_unique, index_type, sort, create_by, create_time, update_by, update_time, remark from ai_db_column
    </sql>

    <select id="selectAiDbColumnList" parameterType="AiDbColumn" resultMap="AiDbColumnResult">
        <include refid="selectAiDbColumnVo"/>
        <where>  
            <if test="tableId != null "> and table_id = #{tableId}</if>
            <if test="columnName != null  and columnName != ''"> and column_name like concat('%', #{columnName}, '%')</if>
            <if test="columnComment != null  and columnComment != ''"> and column_comment = #{columnComment}</if>
            <if test="columnType != null  and columnType != ''"> and column_type = #{columnType}</if>
            <if test="columnLength != null "> and column_length = #{columnLength}</if>
            <if test="nullable != null  and nullable != ''"> and nullable = #{nullable}</if>
            <if test="defaultValue != null  and defaultValue != ''"> and default_value = #{defaultValue}</if>
            <if test="isPk != null  and isPk != ''"> and is_pk = #{isPk}</if>
            <if test="fkTable != null  and fkTable != ''"> and fk_table = #{fkTable}</if>
            <if test="fkColumn != null  and fkColumn != ''"> and fk_column = #{fkColumn}</if>
            <if test="isUnique != null  and isUnique != ''"> and is_unique = #{isUnique}</if>
            <if test="indexType != null  and indexType != ''"> and index_type = #{indexType}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectAiDbColumnByColumnId" parameterType="Long" resultMap="AiDbColumnResult">
        <include refid="selectAiDbColumnVo"/>
        where column_id = #{columnId}
    </select>

    <insert id="insertAiDbColumn" parameterType="AiDbColumn" useGeneratedKeys="true" keyProperty="columnId">
        insert into ai_db_column
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tableId != null">table_id,</if>
            <if test="columnName != null and columnName != ''">column_name,</if>
            <if test="columnComment != null">column_comment,</if>
            <if test="columnType != null">column_type,</if>
            <if test="columnLength != null">column_length,</if>
            <if test="nullable != null">nullable,</if>
            <if test="defaultValue != null">default_value,</if>
            <if test="isPk != null">is_pk,</if>
            <if test="fkTable != null">fk_table,</if>
            <if test="fkColumn != null">fk_column,</if>
            <if test="isUnique != null">is_unique,</if>
            <if test="indexType != null">index_type,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tableId != null">#{tableId},</if>
            <if test="columnName != null and columnName != ''">#{columnName},</if>
            <if test="columnComment != null">#{columnComment},</if>
            <if test="columnType != null">#{columnType},</if>
            <if test="columnLength != null">#{columnLength},</if>
            <if test="nullable != null">#{nullable},</if>
            <if test="defaultValue != null">#{defaultValue},</if>
            <if test="isPk != null">#{isPk},</if>
            <if test="fkTable != null">#{fkTable},</if>
            <if test="fkColumn != null">#{fkColumn},</if>
            <if test="isUnique != null">#{isUnique},</if>
            <if test="indexType != null">#{indexType},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAiDbColumn" parameterType="AiDbColumn">
        update ai_db_column
        <trim prefix="SET" suffixOverrides=",">
            <if test="tableId != null">table_id = #{tableId},</if>
            <if test="columnName != null and columnName != ''">column_name = #{columnName},</if>
            <if test="columnComment != null">column_comment = #{columnComment},</if>
            <if test="columnType != null">column_type = #{columnType},</if>
            <if test="columnLength != null">column_length = #{columnLength},</if>
            <if test="nullable != null">nullable = #{nullable},</if>
            <if test="defaultValue != null">default_value = #{defaultValue},</if>
            <if test="isPk != null">is_pk = #{isPk},</if>
            <if test="fkTable != null">fk_table = #{fkTable},</if>
            <if test="fkColumn != null">fk_column = #{fkColumn},</if>
            <if test="isUnique != null">is_unique = #{isUnique},</if>
            <if test="indexType != null">index_type = #{indexType},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where column_id = #{columnId}
    </update>

    <delete id="deleteAiDbColumnByColumnId" parameterType="Long">
        delete from ai_db_column where column_id = #{columnId}
    </delete>

    <delete id="deleteAiDbColumnByColumnIds" parameterType="String">
        delete from ai_db_column where column_id in 
        <foreach item="columnId" collection="array" open="(" separator="," close=")">
            #{columnId}
        </foreach>
    </delete>
</mapper>