<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ai.mapper.AiModelConfigMapper">
    
    <resultMap type="AiModelConfig" id="AiModelConfigResult">
        <result property="modelId"    column="model_id"    />
        <result property="modelCode"    column="model_code"    />
        <result property="modelName"    column="model_name"    />
        <result property="provider"    column="provider"    />
        <result property="baseUrl"    column="base_url"    />
        <result property="apiKey"    column="api_key"    />
        <result property="modelType"    column="model_type"    />
        <result property="contextLength"    column="context_length"    />
        <result property="isEnabled"    column="is_enabled"    />
        <result property="defaultParams"    column="default_params"    />
        <result property="sort"    column="sort"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAiModelConfigVo">
        select model_id, model_code, model_name, provider, base_url, api_key, model_type, context_length, is_enabled, default_params, sort, create_by, create_time, update_by, update_time, remark from ai_model_config
    </sql>

    <select id="selectAiModelConfigList" parameterType="AiModelConfig" resultMap="AiModelConfigResult">
        <include refid="selectAiModelConfigVo"/>
        <where>  
            <if test="modelCode != null  and modelCode != ''"> and model_code = #{modelCode}</if>
            <if test="modelName != null  and modelName != ''"> and model_name like concat('%', #{modelName}, '%')</if>
            <if test="provider != null  and provider != ''"> and provider = #{provider}</if>
            <if test="baseUrl != null  and baseUrl != ''"> and base_url = #{baseUrl}</if>
            <if test="apiKey != null  and apiKey != ''"> and api_key = #{apiKey}</if>
            <if test="modelType != null  and modelType != ''"> and model_type = #{modelType}</if>
            <if test="contextLength != null "> and context_length = #{contextLength}</if>
            <if test="isEnabled != null  and isEnabled != ''"> and is_enabled = #{isEnabled}</if>
            <if test="defaultParams != null  and defaultParams != ''"> and default_params = #{defaultParams}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectAiModelConfigByModelId" parameterType="Long" resultMap="AiModelConfigResult">
        <include refid="selectAiModelConfigVo"/>
        where model_id = #{modelId}
    </select>

    <insert id="insertAiModelConfig" parameterType="AiModelConfig" useGeneratedKeys="true" keyProperty="modelId">
        insert into ai_model_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="modelCode != null and modelCode != ''">model_code,</if>
            <if test="modelName != null and modelName != ''">model_name,</if>
            <if test="provider != null">provider,</if>
            <if test="baseUrl != null">base_url,</if>
            <if test="apiKey != null">api_key,</if>
            <if test="modelType != null">model_type,</if>
            <if test="contextLength != null">context_length,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="defaultParams != null">default_params,</if>
            <if test="sort != null">sort,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="modelCode != null and modelCode != ''">#{modelCode},</if>
            <if test="modelName != null and modelName != ''">#{modelName},</if>
            <if test="provider != null">#{provider},</if>
            <if test="baseUrl != null">#{baseUrl},</if>
            <if test="apiKey != null">#{apiKey},</if>
            <if test="modelType != null">#{modelType},</if>
            <if test="contextLength != null">#{contextLength},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="defaultParams != null">#{defaultParams},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAiModelConfig" parameterType="AiModelConfig">
        update ai_model_config
        <trim prefix="SET" suffixOverrides=",">
            <if test="modelCode != null and modelCode != ''">model_code = #{modelCode},</if>
            <if test="modelName != null and modelName != ''">model_name = #{modelName},</if>
            <if test="provider != null">provider = #{provider},</if>
            <if test="baseUrl != null">base_url = #{baseUrl},</if>
            <if test="apiKey != null">api_key = #{apiKey},</if>
            <if test="modelType != null">model_type = #{modelType},</if>
            <if test="contextLength != null">context_length = #{contextLength},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="defaultParams != null">default_params = #{defaultParams},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where model_id = #{modelId}
    </update>

    <delete id="deleteAiModelConfigByModelId" parameterType="Long">
        delete from ai_model_config where model_id = #{modelId}
    </delete>

    <delete id="deleteAiModelConfigByModelIds" parameterType="String">
        delete from ai_model_config where model_id in 
        <foreach item="modelId" collection="array" open="(" separator="," close=")">
            #{modelId}
        </foreach>
    </delete>
</mapper>