<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.mapper.AiVersionRecordMapper">
    
    <resultMap type="AiVersionRecord" id="AiVersionRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="projectId"    column="project_id"    />
        <result property="bizType"    column="biz_type"    />
        <result property="bizId"    column="biz_id"    />
        <result property="versionNo"    column="version_no"    />
        <result property="contentSnapshot"    column="content_snapshot"    />
        <result property="changeRemark"    column="change_remark"    />
        <result property="sourceModel"    column="source_model"    />
        <result property="modelParams"    column="model_params"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectAiVersionRecordVo">
        select record_id, project_id, biz_type, biz_id, version_no, content_snapshot, change_remark, source_model, model_params, status, create_by, create_time, update_by, update_time, remark from ai_version_record
    </sql>

    <select id="selectAiVersionRecordList" parameterType="AiVersionRecord" resultMap="AiVersionRecordResult">
        <include refid="selectAiVersionRecordVo"/>
        <where>  
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="bizType != null  and bizType != ''"> and biz_type = #{bizType}</if>
            <if test="bizId != null "> and biz_id = #{bizId}</if>
            <if test="versionNo != null  and versionNo != ''"> and version_no = #{versionNo}</if>
            <if test="contentSnapshot != null  and contentSnapshot != ''"> and content_snapshot = #{contentSnapshot}</if>
            <if test="changeRemark != null  and changeRemark != ''"> and change_remark = #{changeRemark}</if>
            <if test="sourceModel != null  and sourceModel != ''"> and source_model = #{sourceModel}</if>
            <if test="modelParams != null  and modelParams != ''"> and model_params = #{modelParams}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAiVersionRecordByRecordId" parameterType="Long" resultMap="AiVersionRecordResult">
        <include refid="selectAiVersionRecordVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertAiVersionRecord" parameterType="AiVersionRecord" useGeneratedKeys="true" keyProperty="recordId">
        insert into ai_version_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="bizType != null and bizType != ''">biz_type,</if>
            <if test="bizId != null">biz_id,</if>
            <if test="versionNo != null and versionNo != ''">version_no,</if>
            <if test="contentSnapshot != null">content_snapshot,</if>
            <if test="changeRemark != null">change_remark,</if>
            <if test="sourceModel != null">source_model,</if>
            <if test="modelParams != null">model_params,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="bizType != null and bizType != ''">#{bizType},</if>
            <if test="bizId != null">#{bizId},</if>
            <if test="versionNo != null and versionNo != ''">#{versionNo},</if>
            <if test="contentSnapshot != null">#{contentSnapshot},</if>
            <if test="changeRemark != null">#{changeRemark},</if>
            <if test="sourceModel != null">#{sourceModel},</if>
            <if test="modelParams != null">#{modelParams},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateAiVersionRecord" parameterType="AiVersionRecord">
        update ai_version_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="bizType != null and bizType != ''">biz_type = #{bizType},</if>
            <if test="bizId != null">biz_id = #{bizId},</if>
            <if test="versionNo != null and versionNo != ''">version_no = #{versionNo},</if>
            <if test="contentSnapshot != null">content_snapshot = #{contentSnapshot},</if>
            <if test="changeRemark != null">change_remark = #{changeRemark},</if>
            <if test="sourceModel != null">source_model = #{sourceModel},</if>
            <if test="modelParams != null">model_params = #{modelParams},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteAiVersionRecordByRecordId" parameterType="Long">
        delete from ai_version_record where record_id = #{recordId}
    </delete>

    <delete id="deleteAiVersionRecordByRecordIds" parameterType="String">
        delete from ai_version_record where record_id in 
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>